@import "tailwindcss";

@theme {
  --color-sidebar: #1B2A3B;
  --color-primary: #274C77;
  --color-secondary: #6096BA;
  --color-soft: #A8C5DA;
  --color-beige: #E7ECEF;
}

body {
  background-color: #243447;
  color: #E7ECEF;
}